@CHARSET "UTF-8";
.cadre_projet{
 
}
.cadre_projet1_font{
	background-color:red;
	
}
.cadre_projet2{
	
	width:97%;
	margin: 2px;
	background-color: ;
	border-width:2px;
 border-style: groove;
 border-color: #FBAF3F;
}